# coding: utf-8

"""
    Eco Game API

    First API draft for Eco. Heavy work in progress and subject to changes.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from ecoserver.api_client import ApiClient


class WorldLayerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def world_layer_area_description(self, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Describes the area selected with a string.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_area_description(authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :param float min_x: The least x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float min_y: The least y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_x: The greatest x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_y: The greatest y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.world_layer_area_description_with_http_info(authtoken, authtokentype, **kwargs)  # noqa: E501
        else:
            (data) = self.world_layer_area_description_with_http_info(authtoken, authtokentype, **kwargs)  # noqa: E501
            return data

    def world_layer_area_description_with_http_info(self, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Describes the area selected with a string.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_area_description_with_http_info(authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :param float min_x: The least x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float min_y: The least y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_x: The greatest x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_y: The greatest y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authtoken', 'authtokentype', 'min_x', 'min_y', 'max_x', 'max_y']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method world_layer_area_description" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authtoken' is set
        if self.api_client.client_side_validation and ('authtoken' not in params or
                                                       params['authtoken'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtoken` when calling `world_layer_area_description`")  # noqa: E501
        # verify the required parameter 'authtokentype' is set
        if self.api_client.client_side_validation and ('authtokentype' not in params or
                                                       params['authtokentype'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtokentype` when calling `world_layer_area_description`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'min_x' in params:
            query_params.append(('minX', params['min_x']))  # noqa: E501
        if 'min_y' in params:
            query_params.append(('minY', params['min_y']))  # noqa: E501
        if 'max_x' in params:
            query_params.append(('maxX', params['max_x']))  # noqa: E501
        if 'max_y' in params:
            query_params.append(('maxY', params['max_y']))  # noqa: E501
        if 'authtoken' in params:
            query_params.append(('authtoken', params['authtoken']))  # noqa: E501
        if 'authtokentype' in params:
            query_params.append(('authtokentype', params['authtokentype']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['authtoken', 'authtokentype']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/worldlayers/relationships/areadescription', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def world_layer_list_layers(self, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Enumerates every world layer in the simulation.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_list_layers(authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :return: list[EcoWebServerDataTransferObjectsWorldLayersWorldLayerGroupDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.world_layer_list_layers_with_http_info(authtoken, authtokentype, **kwargs)  # noqa: E501
        else:
            (data) = self.world_layer_list_layers_with_http_info(authtoken, authtokentype, **kwargs)  # noqa: E501
            return data

    def world_layer_list_layers_with_http_info(self, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Enumerates every world layer in the simulation.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_list_layers_with_http_info(authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :return: list[EcoWebServerDataTransferObjectsWorldLayersWorldLayerGroupDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authtoken', 'authtokentype']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method world_layer_list_layers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authtoken' is set
        if self.api_client.client_side_validation and ('authtoken' not in params or
                                                       params['authtoken'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtoken` when calling `world_layer_list_layers`")  # noqa: E501
        # verify the required parameter 'authtokentype' is set
        if self.api_client.client_side_validation and ('authtokentype' not in params or
                                                       params['authtokentype'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtokentype` when calling `world_layer_list_layers`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'authtoken' in params:
            query_params.append(('authtoken', params['authtoken']))  # noqa: E501
        if 'authtokentype' in params:
            query_params.append(('authtokentype', params['authtokentype']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['authtoken', 'authtokentype']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/worldlayers/layers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[EcoWebServerDataTransferObjectsWorldLayersWorldLayerGroupDTO]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def world_layer_list_relevant_layers(self, focus_layer, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Enumerates the layers that should be displayed when the user is focused on a particular layer and world area.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_list_relevant_layers(focus_layer, authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str focus_layer: Name of the layer we're querying. (required)
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :param float min_x: The least x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float min_y: The least y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_x: The greatest x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_y: The greatest y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :return: list[EcoWebServerDataTransferObjectsWorldLayersWorldLayerDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.world_layer_list_relevant_layers_with_http_info(focus_layer, authtoken, authtokentype, **kwargs)  # noqa: E501
        else:
            (data) = self.world_layer_list_relevant_layers_with_http_info(focus_layer, authtoken, authtokentype, **kwargs)  # noqa: E501
            return data

    def world_layer_list_relevant_layers_with_http_info(self, focus_layer, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Enumerates the layers that should be displayed when the user is focused on a particular layer and world area.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_list_relevant_layers_with_http_info(focus_layer, authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str focus_layer: Name of the layer we're querying. (required)
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :param float min_x: The least x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float min_y: The least y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_x: The greatest x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_y: The greatest y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :return: list[EcoWebServerDataTransferObjectsWorldLayersWorldLayerDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['focus_layer', 'authtoken', 'authtokentype', 'min_x', 'min_y', 'max_x', 'max_y']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method world_layer_list_relevant_layers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'focus_layer' is set
        if self.api_client.client_side_validation and ('focus_layer' not in params or
                                                       params['focus_layer'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `focus_layer` when calling `world_layer_list_relevant_layers`")  # noqa: E501
        # verify the required parameter 'authtoken' is set
        if self.api_client.client_side_validation and ('authtoken' not in params or
                                                       params['authtoken'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtoken` when calling `world_layer_list_relevant_layers`")  # noqa: E501
        # verify the required parameter 'authtokentype' is set
        if self.api_client.client_side_validation and ('authtokentype' not in params or
                                                       params['authtokentype'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtokentype` when calling `world_layer_list_relevant_layers`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'focus_layer' in params:
            path_params['focusLayer'] = params['focus_layer']  # noqa: E501

        query_params = []
        if 'min_x' in params:
            query_params.append(('minX', params['min_x']))  # noqa: E501
        if 'min_y' in params:
            query_params.append(('minY', params['min_y']))  # noqa: E501
        if 'max_x' in params:
            query_params.append(('maxX', params['max_x']))  # noqa: E501
        if 'max_y' in params:
            query_params.append(('maxY', params['max_y']))  # noqa: E501
        if 'authtoken' in params:
            query_params.append(('authtoken', params['authtoken']))  # noqa: E501
        if 'authtokentype' in params:
            query_params.append(('authtokentype', params['authtokentype']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['authtoken', 'authtokentype']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/worldlayers/layers/{focusLayer}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[EcoWebServerDataTransferObjectsWorldLayersWorldLayerDTO]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def world_layer_list_relevant_relationships(self, focus_layer, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Enumerates the layer relationships that should be displayed when the user is focused on a particular layer and world area.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_list_relevant_relationships(focus_layer, authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str focus_layer: The name of the focused layer. (required)
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :param float min_x: The least x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float min_y: The least y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_x: The greatest x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_y: The greatest y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :return: list[EcoWebServerDataTransferObjectsWorldLayersLayerRelationshipDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.world_layer_list_relevant_relationships_with_http_info(focus_layer, authtoken, authtokentype, **kwargs)  # noqa: E501
        else:
            (data) = self.world_layer_list_relevant_relationships_with_http_info(focus_layer, authtoken, authtokentype, **kwargs)  # noqa: E501
            return data

    def world_layer_list_relevant_relationships_with_http_info(self, focus_layer, authtoken, authtokentype, **kwargs):  # noqa: E501
        """Enumerates the layer relationships that should be displayed when the user is focused on a particular layer and world area.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.world_layer_list_relevant_relationships_with_http_info(focus_layer, authtoken, authtokentype, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str focus_layer: The name of the focused layer. (required)
        :param str authtoken: Eco user authentication token. (required)
        :param str authtokentype: Eco user authentication token type. (required)
        :param float min_x: The least x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float min_y: The least y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_x: The greatest x boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :param float max_y: The greatest y boundary of the viewed area, in world coordinates.  Should not be wrapped.
        :return: list[EcoWebServerDataTransferObjectsWorldLayersLayerRelationshipDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['focus_layer', 'authtoken', 'authtokentype', 'min_x', 'min_y', 'max_x', 'max_y']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method world_layer_list_relevant_relationships" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'focus_layer' is set
        if self.api_client.client_side_validation and ('focus_layer' not in params or
                                                       params['focus_layer'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `focus_layer` when calling `world_layer_list_relevant_relationships`")  # noqa: E501
        # verify the required parameter 'authtoken' is set
        if self.api_client.client_side_validation and ('authtoken' not in params or
                                                       params['authtoken'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtoken` when calling `world_layer_list_relevant_relationships`")  # noqa: E501
        # verify the required parameter 'authtokentype' is set
        if self.api_client.client_side_validation and ('authtokentype' not in params or
                                                       params['authtokentype'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authtokentype` when calling `world_layer_list_relevant_relationships`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'focus_layer' in params:
            path_params['focusLayer'] = params['focus_layer']  # noqa: E501

        query_params = []
        if 'min_x' in params:
            query_params.append(('minX', params['min_x']))  # noqa: E501
        if 'min_y' in params:
            query_params.append(('minY', params['min_y']))  # noqa: E501
        if 'max_x' in params:
            query_params.append(('maxX', params['max_x']))  # noqa: E501
        if 'max_y' in params:
            query_params.append(('maxY', params['max_y']))  # noqa: E501
        if 'authtoken' in params:
            query_params.append(('authtoken', params['authtoken']))  # noqa: E501
        if 'authtokentype' in params:
            query_params.append(('authtokentype', params['authtokentype']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['authtoken', 'authtokentype']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/worldlayers/relationships/{focusLayer}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[EcoWebServerDataTransferObjectsWorldLayersLayerRelationshipDTO]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
